.button {
  display: flex;
  justify-content: center;
}

.button svg, .button svg path {
  transition: all .3s;
}

.button:hover svg {
  transform: scale(1.07);
  filter: brightness(1.5);
}

.button title {
  transition: all .8s;
}

.title {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FAFF0D;
  font-weight: 300;
}
